<div class="table-title">
    Upcoming Flights
</div>
<div *ngIf="isLoading; else elseBlock" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<ng-template #elseBlock>
    <section class="flights-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                        color="primary"
                    >
                    </mat-checkbox>
                </td>
            </ng-container>

            <!--Name column-->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let flight"> {{ flight.name }}</td>
            </ng-container>

            <!--Airline column-->
            <ng-container matColumnDef="airline">
                <th mat-header-cell *matHeaderCellDef> Airline</th>
                <td mat-cell *matCellDef="let flight"> {{ flight.airline }}</td>
            </ng-container>

            <!--Class column-->
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef> Class</th>
                <td mat-cell *matCellDef="let flight"> {{ flight.flightClass }}</td>
            </ng-container>

            <!--Seat number-->
            <ng-container matColumnDef="seatNumber">
                <th mat-header-cell *matHeaderCellDef> Seat Number</th>
                <td mat-cell *matCellDef="let flight"> {{ flight.seatNumber }}</td>
            </ng-container>

            <!--Departure column-->
            <ng-container matColumnDef="departureDate">
                <th mat-header-cell *matHeaderCellDef> Departure Date</th>
                <td mat-cell *matCellDef="let flight"> {{ flight.departureDate }}</td>
            </ng-container>

            <!--Arrival column-->
            <ng-container matColumnDef="arrivalDate">
                <th mat-header-cell *matHeaderCellDef> Arrival Date</th>
                <td mat-cell *matCellDef="let flight"> {{ flight.arrivalDate }}</td>
            </ng-container>

            <!--Non Stop column-->
            <ng-container matColumnDef="nonStop">
                <th mat-header-cell *matHeaderCellDef> Nonstop?</th>
                <td mat-cell *matCellDef="let flight"> {{ flight.nonStop ? 'Yes' : 'No' }}</td>
            </ng-container>

            <!--Details column-->
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Details</th>
                <td mat-cell *matCellDef="let row">
                    <button color="primary" mat-stroked-button (click)="getFlight(row.id)">Details</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
        </table>
    </section>
    <div class="delete-button-container">
        <button
            color="primary"
            mat-stroked-button
            [routerLink]="'/flight/new'"
            class="add-button"
        >
            Create Flight
        </button>
        <button
            color="primary"
            mat-stroked-button
            [disabled]="!selection.hasValue()"
            (click)="removeFlight()"
            class="delete-button"
        >
            Delete Flight
        </button>
    </div>
</ng-template>

